#page-contact {
  width: 100vw;
  height: 100vh;
}

#page-contact .contact-content{
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 780px;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: #fff;
  margin-bottom: 1rem;
  width: 90%;
}

#page-contact ul{
  margin-left: 5rem;
  text-align: left;
  list-style: none;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .section-titulo{
    width: 90%;
  }
}